body {
  background-image: url("/Users/may/Documents/Projects/starlight-weather-app/images/moonlight5.jpg");
  background-repeat: no-repeat;
}

footer {
  margin: 30px;
  text-align: center;
}

h1,
h2,
p {
  text-align: center;
  margin: 0;
}

li {
  list-style: none;
  text-align: center;
}

.date {
  margin-bottom: 70px;
  text-align: center;
}

.form-control {
  background-color: #f1ecef;
  border-radius: 30px;
  padding: 5px;
  text-align: center;
}

.parameters {
  display: block;
  margin: 0 auto;
  margin-bottom: 70px;
  width: 170px;
}

.weather-app {
  background-image: linear-gradient(45deg, #e2c9af 30%, #775233 100%);
  border: none;
  border-radius: 30px;
  box-shadow: 10px 5px 25px black;
  margin: 150px auto;
  max-width: 500px;
  padding: 10px;
}

#current-city {
  color: #120241;
  font-size: 35px;
  font-weight: 500;
  text-shadow: 0.5px 1px 6px rgb(139, 139, 139);
}

#current-icon {
  display: block;
  margin: 0 auto;
  padding: 50px;
  width: 130px;
}

#description {
  display: block;
  margin: 0 auto;
  text-align: center;
}

#search-form {
  margin-bottom: 10px;
}

#search-icon {
  background-color: #f1ecef;
  border-radius: 30px;
  text-align: center;
}
