body {
  background-image: url("/Users/may/Documents/Projects/starlight-weather-app/images/starry_sky_clouds_sunset.jpg");
  background-repeat: no-repeat;
}
a {
  text-decoration: none;
  color: #2a2738;
  text-shadow: 1px 1px 2px rgb(157, 156, 160);
  font-weight: bold;
}

a:hover {
  border-bottom: 1px solid;
  color: #5c596b;
}

.container {
  font-family: "Nunito", sans-serif;
  color: #e0d9d8;
  text-shadow: 1px 1px 2px rgb(8, 2, 37);
}

.city-name {
  font-weight: 900;
  margin-bottom: 10px;
}

.current-temperature {
  margin-bottom: 10px;
}

ul {
  padding: 0px;
  margin: 0px;
}

footer {
  margin: 60px 20px 20px 20px;
  text-align: center;
}

h1,
h2,
p {
  text-align: center;
  margin: 0;
}

li {
  list-style: none;
  text-align: center;
}

.date {
  margin-bottom: 50px;
  text-align: center;
}

.form-control {
  background-color: #f1ecef;
  border-radius: 30px;
  padding: 5px;
  text-align: center;
}

.col-7,
.col-2,
.col-3 {
  padding: 8px;
}

.parameters {
  display: block;
  margin: 0 auto;
  margin-bottom: 70px;
  width: 170px;
}

.weather-app {
  background-image: linear-gradient(to top, #8f5252 0%, #5c596b 100%);
  opacity: 0.94;
  border: none;
  border-radius: 30px;
  box-shadow: 10px 5px 25px black;
  margin: 150px auto;
  max-width: 500px;
  padding: 10px;
}

#current-icon {
  display: block;
  margin: 0 auto;
  padding: 50px;
  width: 130px;
}

#description {
  display: block;
  margin: 0 auto;
  text-align: center;
}

#search-form {
  margin: 20px 15px 10px 15px;
}

#search-icon {
  background-color: #f1ecef;
  border-radius: 30px;
  text-align: center;
}
